@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: rgb(187, 166, 239);
}

.oscuro {
    background-color: #000000;
}

header {
    background-color: rgba(255, 255, 255, 0.939);
}

#titulo {
    display: flex;
    justify-content: center;
}

.navbar {
    padding-top: 0rem;
    transition: all 3s;
}

.fixed-top {
    position: initial;
}

.container-fluid {
    padding: 0;
    margin: 5px;
}

.ofcanvasheader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carrito {
    display: flex;
    flex-wrap: wrap;
}

.cardCompra {
    padding-bottom: 15px;
}

h2, h3 {
    text-align: center;
    color: #FCFCFA;
}

h4 {
    font-size: 1rem;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    padding: 15px;
}

.imagenesCard {
    width: 200px;
    height: 200px;
}

.imagenesBorde {
    width: 100px;
    height: 100px;
}

.tarjeta {
    display: inline-block;
    align-items: center;
    margin: 10px;
    padding: 6px;
    width: 350px;
    height: 400px;
    border-radius: 6px;
    background-color: #FCFCFA;
}

button {
    color: black;
    background-color: rgb(187, 166, 239);
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid;
}

button:hover {
    color: #FCFCFA;
    background-color: rgb(187, 166, 239);
}

#panelFooter {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.939);
    display: flex;
    justify-content: center;
    align-items: baseline;
}

a {
    text-decoration: none;
    color: grey;
}

li {
    list-style: none;
    text-decoration: none;
}

.info {
    margin: 15px;
}